@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 0;
    height: 50px;
}

#contactHeader{
    font-family: 'Work Sans', sans-serif;
}

#addNewButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 20px;
    padding: 10px;
    width: 139px;
    height: 36px;
    font-family: 'Work Sans', sans-serif;
    background-color: #ffffff;
    border: 2px dashed #dddddd
}

#addNewButton:hover {
    cursor: pointer;
    background-color: #ededed;
}

#plus {
    width:25px;
    margin: 0px;
}